

tmp/
temp.json

# .env


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

.DS_Store
test.ipynb

temp.py
temp.csv
test.py

code/config/
code/week 3/
outputs/
Module1-Project/